/* AA用 */
.aa-font
{
  font-family:"ＭＳ Ｐゴシック","MS PGothic","Mona","mona-gothic-jisx0208.1990-0",sans-serif;
  font-size: 16px;
  line-height: 18px;
  white-space: pre;
}



.msg_area {
  font-size: 0.9em;
}

.link-icon{
	height: 35px
}

.link-icon img{
	width: 32px;
	border: 2px #f0f0f0 solid;
	border-radius: 9999px
}

.link-icon img:hover{
	transform: scale(1.10, 1.10);
	border: 2px gold solid;
	border-radius: 9999px;
	margin-top: 2px;
}
